.list-group{
    width: 15%;
    color: rgb(171, 171, 171);
    margin-left: 40px;
    line-height: 1.7;
}

ul{
    list-style: none;
    padding-left: 0;
}

h5{
    padding-top: 30px;
    margin-left: 25px;
}